html {
  box-sizing: border-box;
  background: url("assets/4088419.jpg") center no-repeat;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

svg {
  fill: white;
  background: rgba(0, 0, 0, 0.1);
  padding: 20px;
  border-radius: 50%;
  width: 200px;
  margin-bottom: 50px;
}

.wrapper {
  padding: 20px;
  max-width: 650px;
  background: rgba(255, 255, 255, 0.95);
  box-shadow: 0 0 0 10px rgba(0,255,212, 0.4);
}

h2 {
  text-align: center;
  margin: 0;
  font-weight: 200;
}

button {
  padding: 10px 40px 10px 40px;
  margin-top: 20px;
  background: #FFC36F;
  border: none;
  border-radius: 3px;
  outline: 0;
  width: 100%;
}

button:hover {
  background: #BF9E6E;
  cursor: pointer;
}

.items-list {
  margin: 0;
  padding: 0;
  text-align: left;
  list-style: none;
}

.items-list li {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding: 10px 0;
  font-weight: 100;
  display: flex;
}

.items-list label {
  flex: 1;
  cursor: pointer;
}

.items-list input {
  display: none;
}

.items-list input + label:before {
  content: url("assets/checkbox.png");
  margin-right: 10px;
}

.items-list input:checked + label:before {
  content: url("assets/check.png");
}

.items-list input:checked + label {
  text-decoration: line-through;
}

.add-items {
  margin-top: 20px;
  display: flex;
}

.add-items input {
  padding: 10px;
  outline: 0;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 3px;
}

.add-items input[type="submit"] {
  margin-left: 10px;
  padding: 6px 10px 6px 10px;
  background:  #BF3041;
  border: none;
  font-weight: bold;
}

.add-items input[type="submit"]:hover {
  background:  #8F3F48;
  cursor: pointer;
}
