:root {
  --base: #4e9c4e;
  --spacing: 10px;
  --blur: 0px;
}


body {
  text-align: center;
  background: #2b2b2b;
  color: #ebebeb;
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 50px;
}

input {
  width: 100px;
}

img {
  padding: var(--spacing);
  background: var(--base);
  filter: blur(var(--blur));
  max-height: 45%;
  max-width: 45%;
}

.controls {
  margin-bottom: 50px;
}

.hl {
  color: var(--base);
}
